.about-us {
  background-color: #f2f2f2;
  padding: 50px 0;
     @media screen and (max-width: 700px) {
       padding: 10% 0;
    }
     h2 {
     font-size: 36px;
     font-weight: bold;
     text-align: center;
     margin-bottom: 40px;
    @media screen and (max-width: 700px) {
        font-size: 50px;
        margin-bottom: 40px;
    }
  }
     p {
     font-size: 18px;
     line-height: 1.5;
     margin-bottom: 30px;
    @media screen and (max-width: 700px) {
        font-size: 25px;
        margin-bottom: 30px;
    }
  }
}






