.text {
  font-family: sans-serif;
  }
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
    &:hover {
     box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
    &-img-top {
     border-radius: 5px 5px 0 0;
  }
    &-title {
     font-size: 24px;
     margin-bottom: 10px;
  }
    &-text {
     font-size: 16px;
     margin-bottom: 10px;
  }
}
.btn-primary {
background-color: #007bff;
border-color: #007bff;
font-size: 16px;
padding: 8px 16px;
   &:hover {
     background-color: #0069d9;
     border-color: #0062cc;
  }
}