.hero {
  background-image: url(../img/Inicio/imagendefondo1.png);
  background-size: cover;
  background-position: center;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(255, 0, 0);
  h1 {
    font-size: 3em;
    margin-bottom: 0;
    font-family: 'Rubik Pixels', cursive;
  }
  p {
    font-size: 1.5em;
    margin-top: 0;
  }
  .btn {
    background-color: white;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
    font-size: 1.2em;
 }

  @media screen and (max-width: 600px) {
    height: 300px;
    h1 {
        font-size: 2em;
    }
    p {
        font-size: 1em;
    }
    .services {
        flex-direction: column;
        align-items: center;
    }
    .service {
        margin-bottom: 30px;
    }
    .about-us h2 {
        font-size: 2em;
    }
    .about-us p {
        font-size: 1em;
    }
 }
}