.bbody{
    background-color: #ceced8;
}
.regbo{
	font-family: sans-serif;
	background-color: #f6f4f4;
}
form {
	max-width: 400px;
	margin: 0 auto;
	background-color: $bg-color;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
h2 {
	margin-top: 0;
    font-family: 'Rubik Pixels', cursive;
}
label {
	display: block;
	margin-top: 10px;
}
input, select {
	display: block;
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	font-size: 16px;
	margin-bottom: 20px;
}

button[type="submit"] {
	background-color: $bg-color-tres;
	color: #fff;
	padding: 10px;
	border-radius: 5px;
	border: none;
	font-size: 16px;
	cursor: pointer;
      &:hover {
		background-color: $bg-color-dos;
	} 
}

@media (max-width: 767px) {
    form {
        max-width: 100%;
    }
}

@media (max-width: 575px) {
    input, select {
        font-size: 14px;
    }
    button[type="submit"] {
        font-size: 14px;
    }
}

@media (min-width: 1200px) {
    form {
        max-width: 800px;
    }
 }