*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$bg-color: #fff;
$bg-color-uno: rgb(231, 204, 204);
$bg-color-dos: #2c3e50;
$bg-color-tres: #545a7d;

@import url('https://fonts.googleapis.com/css2?family=Rubik+Pixels&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap');

@import "navbar";
@import "principal";
@import "estiloServicios";
@import "estiloNosotros";
@import "registro";
@import "noticias";
@import "nosotros";
@import "equipoN";
@import "preguntas";
@import "footer";


